<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{site.logo}}"></a>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">projects</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/music/">music</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/photos/">photos</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/graphic-design/">graphic design</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/thanks/">thanks</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></a></li>

    </ul>
  </nav>

</header>