<header class="site-header">
  <center>
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}{{site.logo}}"></a>
      <!-- <h1 class="footer-heading">Philo.log's portfolio</h1> -->
  </center>
  <div class="container">
    <!-- typing effect start -->
<h2><br /><span class="auto-type"></span></h2>
</div>
<script src="\js\typed.js"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["Philo.log the creator", "Philo.log  the author", "Philo.log the  designer","Philo.log  the producer", "Philo.log the  ghost writer", "Philo.log  the thinker", "hmm..", "hmm.. ", "hmm..  ",   "", " ", "  ", "just Philo.log"],
        typeSpeed: 100,
        backSpeed: 30,
        loop: false
    })
</script>
    <!-- typing effect end -->

</div>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">🏠 home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/music/">🎵 music</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/photo/">📷 photo</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/graphic/">🎨 graphic</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/text/">📝 text</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/programming/">🐍 programming</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/thanks/">🙏🏻 thanks</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">👻 about</a></a></li>

    </ul>
  </nav>

</header>