<header class="site-header">
  <center>
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}{{site.logo}}"></a>
      <!-- <h1 class="footer-heading">Philo.log's portfolio</h1> -->
  </center>
  <div class="container">
    <!-- typing effect start -->
<h1><br /><span class="auto-type"></span></h1>
</div>
<script src="\js\typed.js"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["philo.log's <b>portfolio</b>"],
        typeSpeed: 100,
        backSpeed: 30,
        loop: false
    })
</script>
    <!-- typing effect end -->
  <br />
</div>
  <nav class="navbar">
    <ul>
    <h5><b>
      <li class="nav-item"><a href="{{ site.baseurl }}/">🏠 home</a></li><br />
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">👻 about</a></a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/thanks/">🙏🏻 thanks</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/links/">🔗 links</a></li><br />
      <li class="nav-item"><a href="{{ site.baseurl }}/text/">📝 text</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/music/">🎵 music</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/photo/">📷 photo</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/graphic/">🎨 graphic</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/programming/">🐍 programming</a></li>

    </b></h5>
    </ul>
  </nav>
</header>