<header class="site-header">
  <center>
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}{{site.logo}}"></a>
    <!-- <h1 class="footer-heading">Dawid's portfolio</h1> -->
  </center>
  <div class="container">
    <!-- typing effect start -->
    <!-- <h1><br /><span class="auto-type"></span></h1>
  </div>
  <script src="\js\typed.js"></script>
  <script>
    var typed = new Typed(".auto-type", {
      strings: ["<b>dawidchudzinski.pl</b>"],
      typeSpeed: 100,
      backSpeed: 30,
      loop: false 
    })
  </script> -->
  <!-- typing effect end -->
  <br />
  </div>
  <nav class="navbar">
    <ul>
      <h5><b>
          <li class="nav-item"><a href="{{ site.baseurl }}/">🌐 </a></li><br />
          <li class="nav-item"><a href="{{ site.baseurl }}/about/">👻 </a></a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/links/">🔗 </a></li><br />
          <li class="nav-item"><a href="{{ site.baseurl }}/text/">📝 </a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/music/">🎵 </a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/photo/">📷 </a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/graphic/">🎨 </a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/programming/">🐍 </a></li>

        </b></h5>
    </ul>
  </nav>
</header>